<% include ../includes/header %>
<section class="hero is-fullheight is-large is-dark is-bold">
	<!-- Hero header: will stick at the top -->
	<div class="hero-head">
		<% include ../includes/nav %>
	</div>
	<!-- Hero content: will be in the middle -->
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">Welcome this page is made by:</h1>
			<h1 class="title"> Gabriel Costa</h1>
			<h1 class="title">RM 78792</h1>
			<h2 class="subtitle">This Page is made with NodeJS, Express, EJS and Consign</h2>
		</div>
	</div>
</section>
<% include ../includes/footer %>